<% content_for :head do %>
  <script type="text/javascript" src="<%= APP_CONFIG[:google_maps_url] %>"></script>
  <script type="text/javascript" src="<%= APP_CONFIG[:socket_io_url] %>"></script>

  <%= javascript_include_tag "live_map" %>
<% end %>

<div class="container">
  <div class="alert-info lead" id="messages_container">
    Last known Location: <span id="messages"></span>
  </div>

  <div id="mapdiv"></div>
</div>

<script language="JavaScript">
  $(document).ready(function(){
    var socket_host = '<%= APP_CONFIG[:tracking_server] %>'
    var socket_port = 8080;
    var socket_url  = 'http://' + socket_host + ':' + socket_port;

    initSocketURL(socket_url);
    initMap();
    fetchDevices(<%= @user_id %>, '<%= @access_token %>');
  });
</script>