<% content_for :head do %>
  <script type="text/javascript" src="<%= APP_CONFIG[:google_maps_url] %>"></script>

  <%= javascript_include_tag "location_history_map" %>
<% end %>

<div id="mapdiv"></div>

<div class="container-fluid" id="main">
  <div class="row">
  	<div class="col-xs-4" id="left">
      <%= form_tag location_history_path, :method => 'get' do %>

        <label for="devices"> Devices: </label>

        <%= select_tag "Devices",
                       options_from_collection_for_select(@devices, "id", "uuid"),
                       {:include_blank => false,
                        :multiple => false } %>

        <%= submit_tag 'Submit',
                     :class => 'button primary',
                     :data => { :disable_with => 'Text' } %>
      <% end %>
    </div>

    <div class="col-xs-8"><!--map-canvas will be postioned here--></div>

  </div>
</div>

<script language="JavaScript">
  $(document).ready(function(){
    initMap();
    createMarkers(<%= @locations.to_json.html_safe %>);
  });
</script>