<% content_for :head do %>
  <script type="text/javascript" src="<%= APP_CONFIG[:google_maps_url] %>"></script>

  <%= stylesheet_link_tag "bootstrap-datepicker" %>
  <%= javascript_include_tag "bootstrap-datetimepicker" %>
  <%= javascript_include_tag "location_history_map" %>
<% end %>

<div id="mapdiv"></div>

<div class="container-fluid" id="main">
  <div class="row">
  	<div class="col-xs-4 col-md-4" id="left">

      <div class="panel panel-default adjust-panel">
        <!-- Default panel contents -->
        <div class="panel-heading">Location History Filters</div>

        <div class="panel-body">
          <%= form_tag location_history_path, :method => 'get', :class => 'form-horizontal' do %>

            <%= hidden_field_tag :date_from %>
            <%= hidden_field_tag :date_to %>

            <div class="form-group">
              <label for="devices" class="col-sm-2 control-label">Devices</label>
              <div class="col-sm-10">
                <%= select_tag "Devices",
                               options_from_collection_for_select(@devices, "id", "uuid"),
                               {:include_blank => false, :multiple => false, :class => 'form-control' } %>
              </div>
            </div>

            <div class="form-group">
              <label for="devices" class="col-sm-2 control-label">From</label>
              <div class="col-sm-10">

                <div class='input-group date' id='datetimepickerFrom'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>

              </div>
            </div>

            <div class="form-group">
              <label for="devices" class="col-sm-2 control-label">To</label>
              <div class="col-sm-10">

                <div class='input-group date' id='datetimepickerTo'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>

              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>

          <% end %>
        </div>
      </div>

      <div class="panel panel-primary adjust-panel">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <%= page_entries_info @locations %>
        </div>

        <div class="panel-body text-center">
          <%= will_paginate @locations,
                            :inner_window => 3,
                            :class => 'paginated_links',
                            :renderer => BootstrapPagination::Rails %>
        </div>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Date</th>
              <th>LonLat</th>
              <th>Speed</th>
            </tr>
          </thead>
          <tbody>
            <% @locations.each do |gps| %>
            <tr>
              <td><%= gps.id %></td>

              <%= content_tag :td, :id => "#{gps.id}_timestamp" do %>

                <script>
                  var dt = moment(<%= gps.gps_timestamp %>).format("YYYY-MM-DD hh:mm:ss A")
                  $("#<%= gps.id %>_timestamp").html(dt);
                </script>

              <% end %>

              <td><%= "#{gps.gps_latitude} #{gps.gps_longitude}" %></td>
              <td><%= gps.gps_speed %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>

    </div>

    <div class="col-xs-8 col-md-8"><!--map-canvas will be postioned here--></div>

  </div>
</div>

<script language="JavaScript">
  $(document).ready(function(){
    var date_format = "YYYY-MM-DD HH:mm:ss";

    <% if params[:date_from].blank? %>
      var date_begin = moment(<%= @first_timestamp %>).format(date_format);
    <% else %>
      var date_begin = moment(<%= params[:date_from] %>);
    <% end %>

    <% if params[:date_to].blank? %>
      var date_to = moment(<%= @last_timestamp %>).format(date_format);
    <% else %>
      var date_to = moment(<%= params[:date_to] %>);
    <% end %>

    // initialize hidden date_fields with timestamps
    $('#date_from').val(moment(date_begin).valueOf());
    $('#date_to').val(moment(date_to).valueOf());

    $("#datetimepickerFrom").datetimepicker({
      format: date_format,
      language: 'en',
      defaultDate: date_begin

    });
    $("#datetimepickerTo").datetimepicker({
      format: date_format,
      language: 'en',
      defaultDate: date_to
    });

    $("#datetimepickerFrom").on("dp.change",function (e) {
      $('#date_from').val(moment(e.date).valueOf());
    });

    $("#datetimepickerTo").on("dp.change",function (e) {
      $('#date_to').val(moment(e.date).valueOf());
    });

    initMap();
    createMarkers(<%= @locations.to_json.html_safe %>);
  });
</script>