<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "itrackmygps.com" %>">
    <meta name="author" content="">

    <title><%= content_for?(:title) ? yield(:title) : "itrackmygps.com" %></title>

    <%= yield :head %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= stylesheet_link_tag params[:controller] %>

    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>

  </body>
</html>
