<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Trackble" %>">
    <meta name="author" content="">

    <title><%= content_for?(:title) ? yield(:title) : "Mapper Trackble" %></title>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <script type="text/javascript" src="<%= APP_CONFIG[:google_maps_url] %>"></script>
    <script type="text/javascript" src="http://node.itrackmygps.com/socket.io/socket.io.js"></script>

    <style type="text/css">
      html, body, .container, .row, .col-md-8 {height: 100%}
      #mapdiv{ height: 100%; }
      /* fixes blurry google maps control with bootstrap */
      #mapdiv img { max-width: none; }
    </style>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>

  </body>
</html>
